hr {
    margin: 0;

}

.rodape {
    background-color: var(--cor-fundo-cabeçalho);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape{
        display: flex;
        justify-content: space-around;
        padding-top: 3em;
        padding-bottom: 4em;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__link {
        color: var(--cor-font-rodape);
        font-size: 14px;
        text-decoration: none;
        margin-left: 0.5em;
    }

    .lista-rodape__titulo{
        font-size: 14px;
        color: var(--cor-font-rodape-titulo);
    }

    .rodape__titulo{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cor-font-rodape-titulo);
        padding-left: 1em;
    }
}
