@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Terminar de criar todas as variaveis */
    /* Trocar as font de px para rem (16px = 1rem) */
    --cor-primaria: #223240;
    --cor-secundaria: rgb(229, 255, 232);
    --cor-terciaria: #9FD948;
    --cor-hover: #347355;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    /* height: 100vh; */
    /* altura da tela = 100% do viewheight ou seja 100% da tela*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho {
    padding: 2% 0% 0% 12%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

.cabecalho__menu__link::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--cor-terciaria);
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
  .cabecalho__menu__link:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }

.apresentacao__conteudo__titulo__texto-destaque {
    color: var(--cor-terciaria);

}

.apresentacao__conteudo__texto-destaque {
    font-weight: 400;
    position: relative;

}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 12%;
}

.imagem {
    padding: 0% 0% 12% 0%;

    max-height: 550px;
    max-width: 500px;
    height: auto;
    width: auto;

}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-direction: column;

}

.apresentacao__links__titulo {
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 400;
}

.apresentacao__links__link {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 378px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    /* border-color: #0000FF; */
    background-color: var(--cor-hover);
    cursor: pointer;
    /* padding: 3%; */
}

.apresentacao__conteudo__texto-destaque::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--cor-terciaria);
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
  .apresentacao__conteudo__texto-destaque:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  .apresentacao__conteudo__texto-destaque:hover{
    color: var(--cor-terciaria);
  }

.rodape {
    text-align: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    padding: 23.64px;
    font-weight: 400;

}